[submodule "src/mripat"]
	path = src/mripat
	url = git@github.com:wsmj/mripat.git
[submodule "src/dummy_server"]
	path = src/dummy_server
	url = git@github.com:wsmj/dummy_server.git
[submodule "src/bacok"]
	path = src/bacok
	url = git@github.com:wsmj/bacok.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/gece_es"]
	path = src/gece_es
	url = git@github.com:wsmj/gece_es.git
